// Theme variables

html.dark {
  // Preloader
  $preloader-bg: #1f2937; // Image fill preloader
  $preloader-img-fill: #fff; // BoxShadow preloader
  $preloader-shadow: #fff; // BoxShadow preloader
}

// Preloader
$preloader-bg: #fff; // Image fill preloader
$preloader-img-fill: #1f2937; // Image fill preloader
$preloader-shadow: #1f2937; // BoxShadow preloader
